<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
</head>
<body>
    <h1>About Me</h1>
    <p>My name is Ingrid Arenas, I am 19 years old.</p>
    <p>My hobbies include crocheting, playing games, going to the gym, and making other crafts</p>
    <p>I am a Student at north seattle college and i plan on doing the Aplication development bachelors program at North seattle</p>
    <p>My favorite colors are Red and green.</p>
    <a href="/">Back to Home</a>
    
</body>
</html>